export(.exclvars)
export(codes2jabref)
export(matrix2vectors)
export(MD_IRR)
export(MDapply)
export(MDassign)
export(MDasycov)
export(MDclass)
export(MDexclude)
export(MDexists)
export(MDfishersz)
export(MDget)
export(MDinclude)
export(MDlist2matrix)
export(MDmerge)
export(MDnames)
export(MDstr)
export(MDunatten)
export(mvdf)
export(read.MD)
export(url_dl)
export(vectors2matrix)
import(RCurl)
import(testthat)
S3method(print,asy_cov)
S3method(print,full_matrix)
S3method(print,incomplete_matrix)
